[
  {
    "name": "1",
    "files": [ "test.c" ]
  },
  {
    "name": "2",
    "files": [ "test.c" ],
    "raw_options": { "-context-uninitialized-extern": true }
  },
  {
    "name": "3",
    "files": [ "test.c" ],
    "main": "main_if"
  },
  {
    "name": "4",
    "files": [ "test.c" ],
    "raw_options": { "-context-uninitialized-extern": true },
    "main": "main_if"
  },
  {
    "name": "5",
    "files": [ "test.c" ],
    "main": "main_struct"
  },
  {
    "name": "6",
    "files": [ "test.c" ],
    "raw_options": { "-context-uninitialized-extern": true },
    "main": "main_struct"
  }
]
