[
  {
    "name": "Test",
    "files": [ "test.c" ]
  },
  {
    "name": "Test, with -context-uninitialized-extern",
    "files": [ "test.c" ],
    "raw_options": { "-context-uninitialized-extern": true }
  },
  {
    "name": "Test + if",
    "files": [ "test.c" ],
    "main": "main_if"
  },
  {
    "name": "Test + if, with -context-uninitialized-extern",
    "files": [ "test.c" ],
    "raw_options": { "-context-uninitialized-extern": true },
    "main": "main_if"
  },
  {
    "name": "Test + struct",
    "files": [ "test.c" ],
    "main": "main_struct"
  },
  {
    "name": "Test + struct, with -context-uninitialized-extern",
    "files": [ "test.c" ],
    "raw_options": { "-context-uninitialized-extern": true },
    "main": "main_struct"
  },
  {
    "name": "Test + if + struct",
    "files": [ "test.c" ],
    "main": "main_if_struct"
  },
  {
    "name": "Test + if + struct, with -context-uninitialized-extern",
    "files": [ "test.c" ],
    "raw_options": { "-context-uninitialized-extern": true },
    "main": "main_if_struct"
  }
]
